* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(0, 0, 116);
}

header li {
    list-style: none;
    display: flex;
    align-items: inline;
    justify-content: space-between;
    color: white;
}

header li a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin-left: 25px;
}

header h1 {
    color: white;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

article p {
    text-decoration: none;
}

.submenu {
    display: none;
    border: 1px solid red;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear {
    clear: both;
}

.menu li:hover .submenu {
    display: block;
}

.menu li:hover {
    border-color: red;
}

.submenu li {
    display: block;
    padding: 8px;
}

.noticia img {
    max-width: 100%;
}

.destaque .noticia a {
    display: flex;
    font-size: 2em;
    text-decoration: none;
}

.destaque {
    margin-bottom: 25px;
}

.destaque .noticia img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
}

.noticias {
    display: grid;
    grid-template-columns: repeat(4, 23.5%);
    column-gap: 1%;
    row-gap: 5%;
}

.noticia a {
    text-decoration: none;
}

.noticia button {
    background-color: rgb(0, 0, 116);
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border-top: 16px;
    border-bottom: 16px;
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-right: none;
}

@media screen and (max-width: 760px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    .destaque .noticia a {
        display: block;
        font-size: 1.5em;
        cursor: none;
    }
    
    .destaque .noticia img {
        margin-right: 0;
    }

    .noticias {
        display: block;
    }

    .noticias .noticia {
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.container {
        flex-direction: column;
    }

    .submenu {
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }

    .menu {
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .submenu li {
        display: block;
        padding: 8px;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}